<launch>
  <arg name="model" default="$(find dor_description)/urdf/training_mobile_robot_multi_cameras.urdf.xacro"/>
  <arg name="x" default="1.61"/>
  <arg name="y" default="0.77"/>
  <arg name="z" default="0.075"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="3.3"/>



  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find dor_gazebo)/worlds/pull_door.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="headless" default="false"/>
  </include>

  <!--spawn mobile robot-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg model)'" />
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
        args="-param robot_description
           -urdf
           -x $(arg x)
           -y $(arg y)
           -z $(arg z)
           -R $(arg roll)
           -P $(arg pitch)
           -Y $(arg yaw)
           -model mobile_robot" />

  <!-- <include file="$(find dor_trainer)/launch/camera.launch"/> -->

</launch>
