<?xml version="1.0" ?>
<robot xmlns:xacro="https://www.ros.org/wiki/xacro" >
    <xacro:property name="M_PI" value="3.1415926535897931"/>
    <xacro:property name="location_x" value="0" />
    <xacro:property name="location_y" value="0" />
    <xacro:property name="location_z" value="0" />
    <xacro:property name="location_r" value="0" />
    <xacro:property name="location_p" value="0" />
    <xacro:property name="location_y" value="0" />
    <xacro:property name="camera_width" value="600" />
    <xacro:property name="camera_height" value="600" />

    <xacro:property name="camera_link" value="0.02" />

    <xacro:property name="camera_name" value="front_cam" />
    <xacro:macro name="camera_macro" params="parent">
    <!--movable camera-->
    <joint name="camera_joint_${camera_name}" type="fixed">
      <origin xyz="${location_x} ${location_y} ${location_z}" rpy="${location_r} ${location_p} ${location_y}"/>
      <parent link="${parent}"/>
      <child link="camera_link_${camera_name}"/>
    </joint>
    <link name="camera_link_${camera_name}">
      <collision>
        <origin xyz="0 0 ${camera_link/2}" rpy="0 0 0"/>
        <geometry>
          <box size="${camera_link} ${camera_link} ${camera_link}"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 ${camera_link/2}" rpy="0 0 0"/>
        <geometry>
          <box size="${camera_link} ${camera_link} ${camera_link}"/>
        </geometry>
      </visual>
      <inertial>
        <mass value="1e-5" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
      </inertial>
    </link>

    <gazebo reference="camera_link_${camera_name}">
      <material>Gazebo/Red</material>
      <sensor type="camera" name="${camera_name}">
        <update_rate>30.0</update_rate>
        <camera name="head">
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>${camera_width}</width>
            <height>${camera_height}</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.001</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>${camera_name}</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>${camera_name}</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor>
    </gazebo>

    </xacro:macro>
</robot>
