<?xml version="1.0"?>

<robot name="mobile_robot" xmlns:xacro="https://www.ros.org/wiki/xacro" >
    <xacro:include filename="$(find dor_description)/urdf/fourwheeler.urdf.xacro" />
    <xacro:fourwheeler_base_macro/>
    <!--mobile base 50 cm x 50 cm square-->

    <xacro:include filename="$(find dor_description)/urdf/operate_device.urdf.xacro" />
    <xacro:operate_device_macro parent="link_support" robotname="mobile_robot">
      <xacro:property name="location_x" value="0.25" />
      <xacro:property name="location_y" value="0" />
      <xacro:property name="location_z" value="0.55" />
    </xacro:operate_device_macro>

    <xacro:include filename="$(find dor_description)/urdf/realsense.urdf.xacro"/>
    <xacro:realsense_macro parent="link_bar">
      <xacro:property name="location_x" value="0.025" />
      <xacro:property name="location_y" value="0.0" />
      <xacro:property name="location_z" value="0.52" />
    </xacro:realsense_macro>

    <xacro:include filename="$(find dor_description)/urdf/camera.urdf.xacro"/>
    <xacro:camera_macro parent="link_finger">
      <xacro:property name="location_x" value="0.1" />
      <xacro:property name="location_y" value="0.0" />
      <xacro:property name="location_z" value="0.01" />
    </xacro:camera_macro>

    <xacro:include filename="$(find dor_description)/urdf/laser.urdf.xacro"/>
    <xacro:laser_macro parent="link_support">
      <xacro:property name="location_x" value="0.275" />
      <xacro:property name="location_y" value="0" />
      <xacro:property name="location_z" value="-0.1" />
    </xacro:laser_macro>

</robot>
