<?xml version="1.0"?>

<robot name="mobile_robot" xmlns:xacro="https://www.ros.org/wiki/xacro" >
    <xacro:include filename="$(find dor_description)/urdf/triwheeler.urdf.xacro" />
    <xacro:triwheeler_base_macro>
      <xacro:property name="chassis_x" value="0.6" />
      <xacro:property name="chassis_y" value="0.4" />
      <xacro:property name="chassis_z" value="0.2" />
      <xacro:property name="support_x" value="0.6" />
      <xacro:property name="support_y" value="0.4" />
      <xacro:property name="support_z" value="0.6" />
      <xacro:property name="wheel_r" value="0.2"/>
      <xacro:property name="wheel_l" value="0.08"/>
      <xacro:property name="wheelbase" value="0.5" />
      <xacro:property name="track" value="0.48" />
    </xacro:triwheeler_base_macro>

    <xacro:include filename="$(find dor_description)/urdf/operate_device.urdf.xacro" />
    <xacro:operate_device_macro parent="link_support" robotname="mobile_robot">
      <xacro:property name="location_x" value="0.3" />
      <xacro:property name="location_y" value="0" />
      <xacro:property name="location_z" value="0.45" />
    </xacro:operate_device_macro>

</robot>
