<?xml version="1.0"?>

<robot name="mobile_robot" xmlns:xacro="https://www.ros.org/wiki/xacro" >
    <xacro:include filename="$(find dor_description)/urdf/fourwheeler_base.urdf.xacro" />
    <xacro:fourwheeler_base_macro/>
    <!--mobile base 50 cm x 50 cm square-->
    <xacro:include filename="$(find dor_description)/urdf/camera.urdf.xacro"/>
    <xacro:camera_macro parent="link_tip">
      <xacro:property name="location_x" value="0.02" />
      <xacro:property name="location_y" value="0.0" />
      <xacro:property name="location_z" value="0.02" />
      <xacro:property name="location_r" value="0" />
      <xacro:property name="location_p" value="-1.57" />
      <xacro:property name="location_y" value="0" />
      <xacro:property name="camera_width" value="600" />
      <xacro:property name="camera_height" value="600" />
    </xacro:camera_macro>
</robot>
