<launch>
  <arg name="x" default="-1.0"/>
  <arg name="y" default="0.7"/>
  <arg name="z" default="0.0"/>
  <arg name="use_map" default="true"/>
  <arg name="first_map" default="false"/>
  <node pkg="amcl" type="amcl" name="amcl" output="screen">
    <remap from="scan" to="laser/scan"/>
    <param name="odom_frame_id" value="odom"/>
    <param name="base_frame_id" value="link_chassis"/>
    <param name="global_frame_id" value="map"/>
    <param name="odom_model_type" value="diff"/>
    <param name="update_min_d" value="0.01"/>
    <param name="update_min_a" value="0.03"/>
    <param name="initial_pose_x" value="$(arg x)"/>
    <param name="initial_pose_y" value="$(arg y)"/>
    <param name="initial_pose_a" value="$(arg z)"/>
    <param name="initial_cov_xx" value="0.0001"/>
    <param name="initial_cov_yy" value="0.0001"/>
    <param name="initial_cov_aa" value="0.01"/>
    <param name="use_map_topic" value="$(arg use_map)"/>
    <param name="first_map_only" value="${arg first_map}"/>
    <param name="min_particles" value="1000"/>
    <param name="max_particles" value="10000"/>
    <param name="laser_min_range" value="0.001"/>
    <param name="laser_max_range" value="30.0"/>
    <param name="transform_tolerance" value="0.1"/>
  </node>
</launch>
