<launch>
  <!--load joint controller configuration from yaml file to parameter server-->
  <rosparam file="$(find dor_control)/config/mobile_robot.yaml" command="load"/>

  <!--load the controller (joint_bar_controller)-->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/mobile_robot" args="joint_lift_controller joint_state_controller"/>

  <!--convert joint states to TF transform for rvis, etc-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/mobile_robot/joint_states"/>
  </node>
</launch>
