<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- <param name="base_global_planner" value="global_planner/GlobalPlanner"/> -->
    <rosparam file="$(find dor_control)/config/global_costmap_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find dor_control)/config/local_costmap_params.yaml" command="load" ns="local_costmap"/>
  </node>
</launch>
